<%- include('partials/header'); %>
<h1>Hello</h1>

<p><%= homeStartContent %></p>

<% posts.forEach(function (post) { %>
   <h1><%= post.inputTitle %></h1> 
<p>
    <%= _.truncate(post.inputContent, {'length':94}) %> 
    <a href="/posts/<%= post.inputTitle %>"> Read more</a>
  </p> 
    <% }); %>

    
<%- include('partials/footer'); %>