<%- include('partials/header'); %>
<h1>Hello</h1>

<p><%= homeStartContent %></p>

<% posts.forEach(function (post) { %>
   <h1><%= post.title %></h1> 
<p>
    <%= _.truncate(post.content, {'length':94}) %> 
    <a href="/posts/<%= post._id %>"> Read more</a>
  </p> 
    <% }); %>

    
<%- include('partials/footer'); %>